// Import only what you need from Bulma
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
//@import '~bulma/sass/elements/button.sass';
//@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/form.sass';
//@import '~bulma/sass/elements/title.sass';
//@import '~bulma/sass/components/navbar.sass';
//@import '~bulma/sass/layout/hero.sass';
//@import '~bulma/sass/layout/section.sass';
