//@import 'bulma';
@tailwind preflight;
@tailwind components;
@tailwind utilities;

@import 'fonts';
@import 'variables';

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  color: #34495e;
}
p {
  margin-bottom: 10px;
}
.sub-section {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.sub-heading {
  font-size: 1.3em;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdfe1;
}
.grid {
  grid-column-gap: 20px;
  display: grid;
  grid-template-columns: 40px 1fr 3fr 40px;
  margin: 0 auto;
  max-width: 1300px;
  min-height: 100vh;
}

@media only screen and (max-width: 1023px) {
  .grid {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  .grid-item:nth-of-type(1) {
    order: 4;
  }
}

a:hover {
  color: #35495e;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
pre {
  border-radius: 6px;
  margin: 10px 0;
}
