// Set your brand colors
$primary: #42b983;
$text: #34495e;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$link: $primary;

// Update some of Bulma's component variables
$body-background-color: #fff;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
